
@keyframes rotate0 {
  0% { transform: rotate(0);}
  100% { transform: rotate(360deg); }
}

.home {
  margin: 0 auto 0;
  padding: 64px 0;
  width: 720px;
  &_head {

  }
  &_body {
    // margin: 48px 0 0 0;
  }
  &_form {
    padding: 64px 0;
    width: 100%;
    border: 2px solid #2E294E;
    border-radius: 4px;
    position: relative;
    transition: 0.2s;
    p {
      font-size: 20px;
      color: #2E294E;
      text-align: center;
      position: relative;
      z-index: 1;
    }
    input {
      display: none;
    }
    svg {
      animation: rotate0 2s infinite;
      animation-timing-function: linear;
    }
    &_info {
      padding: 64px 0;
      width: 100%;
      height: 100%;
      background-color: #2E294E;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      transition: 0.2s;
      opacity: 0;
      pointer-events: none;
      p {
        color: #FFD400;
      }
    }
    &_dragging {
      border: 2px dashed #FFD400;
      background-color: #2E294E;
      p {
        color: #FFD400;
      }
    }
    &_loading {
      background-color: #2E294E;
    }
    &_loading &_info {
      opacity: 1;
    }
  }
  &_images {
    display: flex;
    flex-wrap: wrap;
  }
  &_image {
    margin: 20px 20px 0 0;
    width: 128px;
    height: 128px;
    border-radius: 4px;
    background-color: #2E294E;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:nth-child(5n) {
      margin: 20px 0 0 0;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    &_info {
      width: 100%;
      height: 100%;
      background-color: rgba(#2E294E, 0.75);
      position: relative;
      z-index: 2;
      transition: 0.2s;
      opacity: 0;
      pointer-events: none;
      button {
        color: #FFD400;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:hover &_info {
      opacity: 1;
      pointer-events: all;
    }
  }
}